@import '../../styles/colors.scss';

:host /deep/ * {
  font-size: 13px;
}

/*--------------------
 * Utilisation panel
 */

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: stretch;

  background-color: #e3e6ea;

}

pd-row {
  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/*--------------------
 * Status bar, first row
 */
.statusbar {
  display: flex;
  flex: 1;
  height: 37px;
  max-height: 37px;

  margin: 0 5px;
  margin-left: 20px;
  margin-right: 40px;

  pd-column {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }

  .statusbar-title {
    color: $darkBlue;
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    margin-right: 5px;
    padding-top: 0;

    .subtitle {
      font-weight: normal;
      font-size: 12px;
      color: $normalFont;
      line-height: inherit;
      vertical-align: baseline;
      padding-top: 2px;
    }
  }

  .subtitle-notes {
    color: $normalFont
  }

  .btn-group {
    label.btn-primary {
      background: $tiaraGrey;
      color: $normalFont;

      &.active {
        background: white;
        color: $blueRibbon;
      } 
    } 
  }

  @media (max-width: 1150px) , (max-height: 750px) {
    pd-column {
      font-size: 11px;
    }

    label {
      font-size: 12px;
    }

  }
}


/*--------------------
 * Stats, boxes, gauge, second row
 */
.stats {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  flex: 1;
  margin: 0 5px;
  margin-left: 20px;
  margin-right: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  min-height: 170px;
}

.stats pd-box {
  background-color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px; /* 18px */
  justify-content: space-between;
}
.stats pd-box:first-child {
  margin-left: 0;
}
.stats pd-box:last-child {
  margin-right: 0;
}

.stats .graph-area {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100px;
  /* background-color: red; */

  pd-gauge, pd-donut {
    height: 100%;
  }
}



.stats .group-stats {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

:host /deep/ .stats pd-box pd-sv-icon{
  font-size: 3.5vh;
  font-weight: bold;
}

.stats pd-box .label-container {
  display: block;
  position: relative;
  max-height: 70px;
}
.stats pd-box span{
  font-size: 3.5vh;
}
.stats pd-box .label-container label{
  font-size: 1.1vw;
  line-height: 16px;
  color: #002D5C;
  z-index: 2;
  margin: 0;
  padding: 0;
}
.stats pd-box span.sublabel {
  font-size: 11px;
  color: #565f64;
  display: block;
  clear: both;
}
.stats pd-box span.sublabel i {
  color: #ff5b44;
  font-size: 12px;
  margin-right: 5px;
}

@media (max-width: 1150px) , (max-height: 750px) {
  .stats pd-box .label-container label{
    line-height: 16px;
  }
}

/*--------------------
 * Trends bar, third row
 */
.trends {
  display: flex;
  flex: 1;
  max-height: 60px;
  // background-color: white;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.trends .left {
  display: flex;
  justify-content: center;
  flex:1;
}

.trends label {
  font-size: 0.8vw;
  line-height: 20px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.trends sub {
  font-size: 10px;
  line-height: 10px;
}

.trends pd-column {
  flex-direction: row;
  align-items: center;
  min-height: 37px;
  border-left: solid 1px #bbb;
  border-right: solid 1px #bbb;

  padding-left: 10px;
  padding-right: 10px;
}
.trends pd-column:first-child {
  padding-left: 0;
  border-left: 0;
}
.trends pd-column:last-child {
  padding-right: 4px;
  border-right: 0;
}

.trends .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex:1;
}
.trends pd-column span {
  color: $coolCyan;
  line-height: 26px;
  font-size: 1.0vw;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.trends pd-column i {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 4px;
  margin-bottom: -6px;
}

@media (max-width: 1150px) , (max-height: 750px) {
  .trends  {
    max-height: 44px;
    padding: 6px 20px;
  }
  .trends label {
    line-height: 14px;
  }
}
